/* VARIABLES */
:root {
  --black: #202020;
  --gray-dark: #3c3c3c;
  --gray: #909090;
  --gray-light: #e0e0e0;
}

/* CLEAN UP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  font-family: sans-serif;
  padding: 0 2rem;
  color: var(--black);
}

/* NAV */
.nav ul {
  display: flex;
  text-transform: uppercase;
  list-style: none;
  align-items: center;
  padding: 1rem 0;
}

.nav ul li {
  margin-left: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.nav ul li.btn-nav {
  font-size: 0.8rem;
  padding: 0.2rem 1rem;
  border: 2px solid var(--black);
}

.nav ul li:hover {
  border-color: var(--black);
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* BUTTONS */
.btn {
  padding: 0.5rem 1.2rem;
  border: 1px solid var(--black);
  border-radius: 1.5rem;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.btn-fill {
  background: var(--black);
  color: white;
}

/* HERO */
.hero {
  padding: 4rem 0;
}

.hero h1 {
  font-size: 2rem;
}

.greeting {
  font-size: 1.2rem;
  color: var(--gray);
}

.job {
  margin-top: 0.2rem;
  color: var(--gray-dark);
}

.cta-section {
  margin-top: 1.5rem;
}
